* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url("../public/image/noaa-cthDc0hUM0o-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

#root {
  width: 100%;
  height: 100vh;
}
